.vscode/**
.vscode-test/**
.gitignore
.env
.env.example
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out-test/**
*.vsix
install*.sh
build.js
*.log
*_SPEC.md
*_GUIDE.md
*_REPORT.md